@import "tailwindcss";

.p-password, 
.p-password-input {
  /* width: 100% !important; */
 display: initial;
  position: none;
}
.p-dialog .p-dialog-header {
    color: #495057;
    background: #002455;
    border-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1.5rem;
}.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
svg.p-icon {
  color: #fff;
    pointer-events: auto;
}